@import './transition.scss';

$z_index_0: 100;
$z_index_1: 200;
$z_index_2: 300;

#app-drawer {
  z-index: $z_index_1;
}

#app-toolbar {
  z-index: $z_index_0;
}

#app-fab {
  z-index: $z_index_0;
  #app-fab-btn {
    z-index: $z_index_0;
  }
}

#app-to-top-btn {
  z-index: $z_index_1
}